<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Browser" value="chrome"/>
        <add key="StartURL" value="http://store.steampowered.com/"/>
        <add key="WaitingTimeout" value="30"/>
        <add key="DownloadPath" value="./Downloads"/>

    </appSettings>
</configuration>
